<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Files</title>
</head>
<body>
    <h1>Wvery Page will Have this</h1>
    <a href="{% url 'first_app:form_names' %}">Main Page</a>
    <a href="{% url 'admin:index' %}"">Admin</a>
    <a href="{% url 'first_app:other' %}"">Other</a>

    {% block body_here %}
    {% endblock %}
</body>
</html>